<section class="main">
  <div class="container">
    <div class="main__info">
      <div class="wrapper">
        <h2 class="main__title">
          <span>Coding with</span>
          <span>❤️‍🔥️‍passion, developing</span>
          <span>with love</span>
        </h2>
        <p class="main__description">
          Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>
        <div class="main__action">
          <a href="#" class="button button--secondary">
            <span>
              <span>HIRE ME</span>
            </span>
          </a>
          <a href="#" class="cv">
            <span>Download CV</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
      </div>
      <div class="main__image">
        <img src="/assets/images/main/main-image.png" alt="">
      </div>
    </div>
  </div>
</section>
