<section class="main">
  <div class="container">
    <div class="main__info">
      <div class="wrapper">
        <h2 class="main__title">
          <span>Coding with</span>
          <span>❤️‍🔥️‍passion, developing</span>
          <span>with love</span>
        </h2>
        <p class="main__description">
          Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>
        <div class="main__action">
          <a href="#" class="button button--secondary">HIRE ME</a>
          <div class="cv">
            <a href="#" class="cv__circles">
            <span>
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.25 15H23.75M23.75 15L16.25 7.5M23.75 15L16.25 22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
              <span></span>
            </a>
            <span class="cv__text">Download CV</span>
          </div>
        </div>
      </div>
      <div class="main__image">
        <img src="/assets/images/main/main-image.png" alt="">
      </div>
    </div>
  </div>
</section>
