$primary-bg: #0C0C0C;
$secondary-bg: #f0f0f0;

$primary-font-color: #0C0C0C;
$secondary-font-color: #f0f0f0;

$primary-accent: #FE4335;
$secondary-accent: #FFDD3E;

$container-width: 1170px;

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Be Vietnam', sans-serif;

$min-font-size: 28px;
$max-font-size: 85px;

$section-desk-padding: 100px 0px;
$section-mobile-padding: 60px 0px;
