@import "../../../../styles/variables";

.socials {
  padding: 20px 0;

  &__title {
    font-family: $secondary-font-family;
    font-weight: 300;
    font-size: 28px;
    line-height: 107%;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    font-family: $primary-font-family;
    font-weight: 300;
    font-size: 22px;
    line-height: 136%;
    text-transform: capitalize;

    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $primary-font-color;

    &:hover {
      color: $secondary-font-color;
      background-color: $primary-font-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .socials {
    padding: 60px 0 0 0;
  }
}
