@import "../../../../styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  padding: 15px 0;
  background-color: rgba(12, 12, 12, 0.6);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .action {
      display: none;
    }
  }
}
